@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShareTechMono";
  src: url("/fonts/ShareTechMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PolysansTrial";
  src: url("/fonts/PolysansTrial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-jetbrains {
  font-family: "JetBrainsMono", monospace;
}

.font-ShareTechMono {
  font-family: "ShareTechMono", monospace;
}

.font-ShareTechMono {
  font-family: "PolysansTrial", monospace;
}

/* Container for the checkbox and text */
.custom-checkbox {
  display: block; /* Makes the entire label a block element */
  position: relative;
  padding-left: 35px; /* Creates space for the custom box */
  cursor: pointer;
}

/* Hide the default browser checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create the custom checkbox box */
.custom-checkbox span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  background-color: #eeeeee00;
  border: 2px solid rgb(130, 130, 130);
}

/* Style the box when the input is checked */
.custom-checkbox input:checked ~ span::before {
  background-color: #2196f3; /* Changes color when checked */
  border-color: #2196f3;
}

/* Create the checkmark */
.custom-checkbox span::after {
  content: "✓"; /* Unicode character for a checkmark */
  position: absolute;
  left: 6px;
  top: 0px;
  color: rgba(130, 130, 130, 1);
  font-size: 20px;
  display: none; /* Hide the checkmark by default */
}

/* Show the checkmark when the input is checked */
.custom-checkbox input:checked ~ span::after {
  display: block;
}

/* Style the text next to the checkbox */
.custom-checkbox span {
  font-family: sans-serif;
  color: #555;
  font-size: 16px;
  line-height: 25px; /* Aligns text vertically with the box */
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
